In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Match.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [3]:
df.shape

(69761, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [5]:
df[["player_dismissed"]].value_counts()

player_dismissed
RG Sharma           59
SK Raina            59
AC Gilchrist        57
G Gambhir           56
Yuvraj Singh        55
                    ..
A Choudhary          1
BAW Mendis           1
H Das                1
GR Napier            1
Jaskaran Singh       1
Length: 354, dtype: int64

In [6]:
df[["fielder"]].value_counts()

fielder
RV Uthappa         61
KD Karthik         57
MS Dhoni           55
AC Gilchrist       54
KC Sangakkara      46
                   ..
RA Jadeja (sub)     1
Misbah-ul-Haq       1
AD Mascarenhas      1
M Kaif (sub)        1
KS Williamson       1
Length: 352, dtype: int64

In [7]:
df[["dismissal_kind"]].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
hit wicket              4
retired hurt            4
dtype: int64

In [8]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [9]:
df.isnull().sum()

match_id                0
inning                  0
batting_team            0
bowling_team            0
over                    0
ball                    0
batsman                 0
non_striker             0
bowler                  0
is_super_over           0
wide_runs               0
bye_runs                0
legbye_runs             0
noball_runs             0
penalty_runs            0
batsman_runs            0
extra_runs              0
total_runs              0
player_dismissed    66245
dismissal_kind      66245
fielder             67232
dtype: int64

In [10]:
df["player_dismissed"].mode()

0    RG Sharma
1     SK Raina
dtype: object

In [11]:
df["player_dismissed"].replace(np.nan,"RG Sharma",inplace=True)

In [12]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,RG Sharma,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,RG Sharma,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,RG Sharma,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,RG Sharma,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,RG Sharma,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,RG Sharma,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,RG Sharma,NaN,NaN

In [13]:
df["dismissal_kind"].mode()

0    caught
dtype: object

In [14]:
df["dismissal_kind"].replace(np.nan,"caught",inplace=True)
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,RG Sharma,caught,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,RG Sharma,caught,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,RG Sharma,caught,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,RG Sharma,caught,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,RG Sharma,caught,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,RG Sharma,caught,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,RG Sharma,caught,NaN

In [15]:
df["fielder"].mode()

0    RV Uthappa
dtype: object

In [16]:
df["fielder"].replace(np.nan,"RV Uthappa",inplace=True)
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,RG Sharma,caught,RV Uthappa
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,RG Sharma,caught,RV Uthappa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,RG Sharma,caught,RV Uthappa
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,RG Sharma,caught,RV Uthappa
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,RG Sharma,caught,RV Uthappa

In [17]:
df.isnull().sum()

match_id            0
inning              0
batting_team        0
bowling_team        0
over                0
ball                0
batsman             0
non_striker         0
bowler              0
is_super_over       0
wide_runs           0
bye_runs            0
legbye_runs         0
noball_runs         0
penalty_runs        0
batsman_runs        0
extra_runs          0
total_runs          0
player_dismissed    0
dismissal_kind      0
fielder             0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  69761 non-null  object
 19  dismissal_kind    69761 non-null  object
 20  fielder           69761 non-null  object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [19]:
df.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RV Uthappa
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,RG Sharma,caught,RV Uthappa

### Find Team wise runs scored.

In [20]:
df.groupby("batting_team")["total_runs"].sum()

batting_team
Chennai Super Kings             9253
Deccan Chargers                 8931
Delhi Daredevils               10654
Gujarat Lions                   2412
Kings XI Punjab                10763
Kochi Tuskers Kerala            1760
Kolkata Knight Riders           9924
Mumbai Indians                 11202
Pune Warriors                   1657
Rajasthan Royals                8039
Rising Pune Supergiant          2470
Royal Challengers Bangalore    10221
Sunrisers Hyderabad             2349
Name: total_runs, dtype: int64

### Find Total Runs of Virat Kohli

In [21]:
df[df["batsman"]=="V Kohli"]["batsman_runs"].sum()

1428

### Find Total Runs of Your Fav Player.

In [22]:
df[df["batsman"]=="RG Sharma"]["batsman_runs"].sum()

1794

### Extra Runs Given By All Bowlers in a League.

In [23]:
df.groupby("bowler")["extra_runs"].sum().sort_values(ascending=False)

bowler
SL Malinga      158
RP Singh        135
I Sharma        118
P Kumar         111
IK Pathan       101
               ...
I Malhotra        0
B Chipli          0
Tejas Baroka      0
A Nel             0
TM Head           0
Name: extra_runs, Length: 285, dtype: int64

### Extra Runs Given By TS Mills.

In [24]:
df[df["bowler"]=="TS Mills"]["extra_runs"].sum()

13

### Catches Taken By Mandeep Singh.

In [25]:
df[(df.dismissal_kind=="caught")&(df.fielder=="Mandeep Singh")].shape[0]

7

### How Many Times DA Warner is dismissed by Mohammed Shami.

In [26]:
df[(df.player_dismissed=="DA Warner")&(df.bowler=="Mohammed Shami")]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
9029,39,1,Sunrisers Hyderabad,Delhi Daredevils,6,2,DA Warner,S Dhawan,Mohammed Shami,0,...,0,0,0,0,0,0,0,DA Warner,bowled,RV Uthappa

### Total Number of Wickets Taken by YS Chahal.

In [27]:
df[(df.player_dismissed.notnull())&(df.bowler=="YS Chahal")].shape[0]

271

### Find Number of Stump Out done by MS Dhoni.

In [28]:
df[(df.dismissal_kind=="stumped")&(df.fielder=="MS Dhoni")].shape[0]

17

### How Many Times S Dhawan Got Out by lbw.

In [29]:
df[(df["batsman"]=="S Dhawan")&(df["dismissal_kind"]=="lbw")].shape[0]

2

### Total number sixes hit by MS Dhoni.

In [30]:
df[(df["batsman"]=="MS Dhoni")&(df["batsman_runs"]==6)].shape[0]

62

### Total numbers of balls faced by MI Players.

In [31]:
df[df["batting_team"]=="Mumbai Indians"].shape[0]

8662

### Total numbers of balls faced by KKR Players.

In [32]:
df[df["batting_team"]=="Kolkata Knight Riders"].shape[0]

7887

### Find the total number of runs scored by Sachin Tendulkar.

In [33]:
df[df.batsman=="SR Tendulkar"]["total_runs"].sum()

1730

### Find the total number of balls faced by Schin Tendulkar.

In [34]:
df[df["batsman"]=="SR Tendulkar"].shape[0]

1388

### Find Sachin Tendulkar's dismissal types in IPL.

In [35]:
df[df.player_dismissed=="SR Tendulkar"].dismissal_kind.value_counts()

caught               23
bowled                7
lbw                   5
run out               2
caught and bowled     1
stumped               1
Name: dismissal_kind, dtype: int64

### Find the bowlers who dismissed SR Tendulkar.

In [36]:
df[df["player_dismissed"]=="SR Tendulkar"]["bowler"]

22501    Joginder Sharma
23139      Shoaib Akhtar
23597      Shahid Afridi
24663          IK Pathan
25219          VY Mahesh
26239         SK Trivedi
29727            PP Ojha
30608          LR Shukla
31373           VS Malik
32028         AB Agarkar
33240         D du Preez
34298           RP Singh
34887         PJ Sangwan
35588      R Vinay Kumar
37502           SK Warne
37846           SK Raina
39836           R Bhatia
41253     AD Mascarenhas
42994           A Mishra
44154      R Vinay Kumar
45810           L Balaji
46897           RP Singh
47440          PP Chawla
48791           R Sharma
49947         T Thushara
50753          PP Chawla
52211         PJ Sangwan
53353          JH Kallis
54523           DW Steyn
55419          SB Jakati
60095           R Sharma
60650       DE Bollinger
61427           A Mishra
63078         AL Menaria
64590          RJ Harris
65497       Yuvraj Singh
66654          IK Pathan
67929            P Kumar
69098        Anand Rajan
Name: bowler, dtype: object

### How many times was Suresh Raina dismissed.

In [37]:
df[df.player_dismissed=="SK Raina"].shape[0]

59

### Display player details who hit the maximum no of sixes in the current IPL tournament.

In [38]:
df[df["batsman_runs"]==6]["batsman"].value_counts()

SK Raina         83
YK Pathan        80
Yuvraj Singh     75
CH Gayle         72
RG Sharma        72
                 ..
RT Ponting        1
SD Chitnis        1
Sohail Tanvir     1
SP Goswami        1
WD Parnell        1
Name: batsman, Length: 234, dtype: int64

### What is the Overall No Balls Runs for each team in the dataset?

In [40]:
df.groupby("batting_team")["noball_runs"].sum()

batting_team
Chennai Super Kings            32
Deccan Chargers                45
Delhi Daredevils               42
Gujarat Lions                  10
Kings XI Punjab                36
Kochi Tuskers Kerala           11
Kolkata Knight Riders          39
Mumbai Indians                 42
Pune Warriors                   9
Rajasthan Royals               45
Rising Pune Supergiant          1
Royal Challengers Bangalore    34
Sunrisers Hyderabad             6
Name: noball_runs, dtype: int64

### Which player scored the most runs in the dataset?

In [41]:
df.groupby("batsman")["total_runs"].sum().sort_values(ascending=False)

batsman
SK Raina        2255
G Gambhir       2034
RG Sharma       1867
SR Tendulkar    1730
MS Dhoni        1650
                ...
C Nanda            0
S Kaul             0
Imran Tahir        0
SN Thakur          0
L Ablish           0
Name: total_runs, Length: 383, dtype: int64

# Create Your Own Question